@media Screen and (max-width: 500px){
    .imgX{
        transform: scale(0);
        width:0px;
        height:0px;
    }
    .heading{
        width: 60px;
        height:20px;
        right:0rem;
        left: 2rem;
    }
    .work{
        top: 30%;
    }
    .intern{
        right:0.5rem;
    }
    .grid{
        grid-template-columns: repeat(1, minmax(calc(10rem + 15vw), 1fr));
    }
}

