@media Screen and (max-width: 500px){
    .imgX{
        transform: scale(0);
        width:0px;
        height:0px;
    }
    .heading{
        width: 60px;
        height:20px;
        right:0rem;
        left: 2rem;
    }
<<<<<<< HEAD
    .work{
        top: 30%;
    }
}
=======
}
>>>>>>> c016f0ab2443f4300b34b3576b275ede20ddb8c2
